<biit-progress-bar
  *ngIf="loading"
  [type]="BiitProgressBarType.INDETERMINATE"
/>
<div
  class="base"
  (dragover)="uploadState = 'hover'"
>
  <div
    class="main"
  >
    <div
      class="search"
    >
      <div class="row">
        <biit-input-text
          placeholder="Search"
        />
        <button
          biit-icon
          [icon]="'search'"
        ></button>
      </div>
      <div class="row filters">
        <biit-input-text
          placeholder="Type"
        />
        <biit-multiselect
          [data]="users"
          [label]="'name'"
          [title]="'Owner'"
        />
        <biit-datepicker
          placeholder="Upload date"
        />
        <biit-multiselect
          [data]="categories"
          [label]="'name'"
          [title]="'Keywords'"
        />
      </div>
    </div>

    <div
      class="selectors"
    >
      <div>
        <button
          biit-icon
          [icon]="'plus'"
        ></button>
        <button
          biit-icon
          [icon]="'minus'"
        ></button>
      </div>
      <div>
        <biit-toggle-group
          [ngModel]="tableView"
          (ngModelChange)="changeView($event)"
        >
          <biit-toggle-button
            [icon]="'column_selection'"
            [value]="false"
          />
          <biit-toggle-button
            [icon]="'cauldron'"
            [value]="true"
          />
        </biit-toggle-group>
      </div>
    </div>

    <ng-container *ngIf="!tableView">
      <div class="files"
           infinite-scroll
           [infiniteScrollThrottle]="300"
           [infiniteScrollDistance]="1"
           [infiniteScrollDisabled]="scrollDisabled"
           [scrollWindow]="false"
           (scrolled)="onScroll()"
      >
        <file-preview
          *ngFor="let file of files"
          [file]="file"
          [selected]="file.uuid === selectedFile?.uuid"
          (onClick)="openFile($event)"
        />
      </div>
    </ng-container>

    <ng-container *ngIf="tableView">
      <biit-datatable
        [data]="files"
        [columns]="tableColumns"
        [pageSize]="10"
        [pageSizeList]="[10, 25, 50, 100]"
        (onSelection)="openFile($event[0])"
        hideHeader
        scrollbarH
        serverSide
        [page]="page"
        (onPageChange)="onTablePageChange($event)"
        style="height: 100%"
      ></biit-datatable>
    </ng-container>

  </div>

  <file-detail
    [file]="selectedFile"
    [class.open]="selectedFile"
    (onUpdate)="onFileUpdate($event)"
    (onClose)="selectedFile = undefined"
  />
</div>

<ngx-file-drop
  dropZoneLabel="Drop files here"
  (onFileDrop)="onDrop($event)"
  (onFileOver)="uploadState = 'hover';"
  (onFileLeave)="uploadState = undefined"
  [multiple]="false"
  [ngStyle]="{'pointer-events': uploadState ? 'auto' : 'none'}"
  style="position: absolute; top: 0; height: 100%; width: 100%;"
>
  <ng-template ngx-file-drop-content-tmp></ng-template>
</ngx-file-drop>

<biit-popup no-header
  style="pointer-events: none"
  [ngStyle]="{'opacity': uploadState ? 1 : 0}"
>
  <span *ngIf="uploadState === 'hover'">Drop your files here</span>
  <span *ngIf="uploadState === 'upload'">Uploading...</span>
</biit-popup>

<ng-template #dateCell let-row="row" let-value="value" let-i="index">
  {{ value | date: 'short' }}
</ng-template>

<ng-template #userCell let-row="row" let-value="value" let-i="index">
  {{ value | userUuidName: users }}
</ng-template>
