.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header{
  flex-shrink: 0;
  flex-grow: 0;
}

.content{
  flex-shrink: 1;
  flex-grow: 1;
  position: relative;
  overflow-y: auto;
}

biit-navbar {
  position: sticky;
  width: 100%;
  z-index: 1;
}

biit-snackbar {
  position: absolute;
  z-index: 99999;
}

.hidden {
  visibility: hidden;
}
