.file {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 12.5rem;
  width: 12.5rem;
  background: #EDEDED;
  cursor: pointer;
  overflow: hidden;

  &.selected {
    border: 3px solid #262626;

    .info {
      height: calc(2.5rem - 3px);
      padding: calc(0.25rem) calc(0.5rem - 3px);
    }
  }

  .info {
    position: absolute;
    width: 100%;
    height: 2.5rem;
    bottom: 0;
    left: 0;
    background: rgba(38, 38, 38, 0.5);
    display: flex;
    padding: 0.25rem 0.5rem;

    span {
      line-height: 99%;
      color: white;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
    }
  }

  img {
    min-width: 200px;
    min-height: 200px;
    object-fit: cover;
  }

  biit-icon {
    height: 100px;
    margin-bottom: 30px;
  }
}
