.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 3px solid #262626;
  background: white;
  padding: 0.5rem 1rem 1rem;
  margin-left: 2rem;
}

.header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  overflow: hidden;

  span {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 0.5rem;
  }

  button {
    flex-shrink: 0;
  }
}

.content {
  width: calc(100% + 1rem);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2rem;
  padding-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  overflow-x: hidden;

  .thumbnail {
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
      max-height: 100%;
      max-width: 100%;
    }

    biit-icon {
      height: 100%;
      width: 100%;
    }

    button {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

.footer {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  overflow: hidden;
}

::ng-deep biit-input-text .biit-input, ::ng-deep biit-input-text input {
  min-width: 0 !important;
}
