<div
  class="container"
  *transloco="let t"
>
  <div
    class="header"
  >
    <span
      [tooltip]="_file?.name"
    >
      {{_file?.name}}
    </span>
    <button
      biit-icon
      [icon]="'cross_wide'"
      (click)="onClose.emit()"
    ></button>
  </div>
  <div
    class="content"
  >
    <biit-input-text
      [ngModel]="_file?.alias"
      (ngModelChange)="_file.alias = $event"
      [placeholder]="t('t.alias')"
    />
    <div
      class="thumbnail"
    >
      <img
        *ngIf="_file?.thumbnailUrl"
        alt="Thumbnail image"
        [src]="_file?.thumbnailUrl | thumbnailUrl"
      />
      <biit-icon
        *ngIf="!_file?.thumbnailUrl"
        [name]="_file?.name | thumbnailIcon"
      />
      <button
        biit-icon
        [icon]="'download_general'"
      ></button>
    </div>

    <biit-textarea
      [ngModel]="_file?.description"
      (ngModelChange)="_file.description = $event"
      [placeholder]="t('t.description')"
      style="height: 5rem"
    />

    <div
      class="file-visibility"
    >
      <biit-toggle
        [ngModel]="_file?.public"
        (ngModelChange)="_file.public = $event"
      >
        {{_file?.public ? t('t.public') : t('t.private')}}
      </biit-toggle>
      <biit-input-text
        *ngIf="_file?.public"
        [ngModel]="Environment.KNOWLEDGE_SYSTEM_SERVER + _file?.publicUrl"
        readonly
        style="margin-left: 0.5rem"
      />
      <button
        *ngIf="_file?.public"
        biit-icon
        [icon]="'linkage'"
        [tooltip]="'Copy to clipboard'"
        style="flex-shrink: 0"
      ></button>
    </div>

    <biit-input-text
      [ngModel]="_file?.createdBy"
      [placeholder]="t('t.owner')"
      readonly
    />

    <biit-input-text
      [ngModel]="_file?.createdAt | date: 'short'"
      [placeholder]="t('t.upload_date')"
      readonly
    />

    <biit-multiselect
      *ngIf="_file"
      [type]="BiitMultiselectType.CHIPS"
      [ngModel]="_file?.categorizations"
      [data]="categories"
      [label]="'name'"
      [title]="t('t.keywords')"
      (ngModelChange)="_file.categorizations = $event"
      (onCreate)="onNewCategory($event)"
    />

  </div>
  <div
    class="footer"
  >
    <button
      biit-button
      (click)="onUpdate.emit(_file)"
    >
      {{t('t.save')}}
    </button>
  </div>
</div>
